### project setting
DJANGO_PORT=8000
DOCKER_EXPOSE_PORT=8000

### database
POSTGRES_DB=dds
POSTGRES_USER=dds
POSTGRES_PASSWORD=dds
POSTGRES_HOST=dbase
DB_PORT=5432

### rabbitMQ
RABBITMQ_DEFAULT_USER=dds
RABBITMQ_DEFAULT_PASS=dds
RABBITMQ_DEFAULT_VHOST=dds

