### project setting
DJANGO_PORT=8000
DOCKER_EXPOSE_PORT=8000

### database
POSTGRES_DB=nft
POSTGRES_USER=nft
POSTGRES_PASSWORD=nft
POSTGRES_HOST=dbase
POSTGRES_PORT=5432

### rabbitMQ
RABBITMQ_DEFAULT_USER=nft
RABBITMQ_DEFAULT_PASS=nft
RABBITMQ_DEFAULT_VHOST=nft
