django==3.1.7
django-allauth
django-admin-inline-paginator==0.1
djangorestframework==3.12.2
django-rest-auth==0.9.1
django-cors-headers==3.7.0
django-extensions
drf-yasg==1.20
eth-account==0.4.0
eth-utils==1.10.0
ethereum==2.0.4
gunicorn==20.0.4
pika==1.2.0
pillow==8.1.1
psycopg2-binary==2.8.6
eth-rlp==0.2.1
rlp==0.6.0
web3 @ git+https://github.com/Rock-n-Block/web3.py.git
ipfshttpclient==0.7.0
celery==5.1.2
django-celery-beat==2.2.1
ptpython
redis==3.5.3
httpcore
httpx
marshmallow_dataclass
marshmallow-enum
trx-utils==1.0.4
eth-abi==2.1.1
tronapi @ git+https://github.com/MyWishPlatform/tron-api-python.git@21efb1b359c18c3ab17efcc2bb324dffada7ec9a
pyyaml
eth-keys==0.2.4
eth-keyfile==0.5.1
eth-hash==0.3.1
ecdsa==0.17.0
pytest-django==4.4.0
mixer==7.2.0
Faker==12.0.0
pyTelegramBotAPI==4.1.1
